{% extends "app/layout.html" %}
{% load static %}
{% block body %}
{% block script %}
<script src="{% static './assets/js/getBorrower.js' %}"></script>
{% endblock %}

{{ roi|json_script:"roi" }}
{{ status|json_script:"status" }}
{{ p_o_loan|json_script:"p_o_loan" }}
{{ a_income|json_script:"a_income" }}
{{ credit_score|json_script:"credit_score" }}
{{ property_value|json_script:"property_value" }}
{{ term|json_script:"term" }}
{{ loan_type|json_script:"loan_type" }}
{{ credit_worthiness|json_script:"credit_worthiness" }}
{{ loan_a|json_script:"loan_a" }}



<main>
    <!-- <script>{ get_borower() }</script> -->
    <!-- Hero Start-->
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Status</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="apply-area pt-150 pb-150">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="apply-wrapper">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Months</th>
                                    <th scope="col">Loan Amount</th>
                                    <th scope="col">Phone No.</th>\
                                    <th scope="col">Address</th>
                                </tr>
                            </thead>
                            <tbody id="borrowerLists">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}